@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* C */
.card-index{
  border-radius: 40px;
  height: 300px;
}
.card-profile{
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    background-color: rgb(84, 98, 173);
}
.card-profile-index{
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  background-color: rgb(116, 188, 221);
}
.card-show{
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  background-color: rgb(17, 134, 163);
}
.card{
    border-radius: 40px;
}  
.cardbase-show{
  border-radius: 40px;
  height:250px;
}  
.imagenRedonda{
    width:60px;
    height:60px;
    border-radius:150px;
}
/* F */
.floating{
    position: fixed;
    bottom: 350px;
    right:55px;  
}
/* i */
.imgRedonda {
    width:125px;
    height:125px;
    border-radius:150px;
}
/* profile */
.profile{
  position:fixed;
  left:20px;
  bottom: 350px;
}
/* s */


/* Swe alert */
.swal-button {
    padding: 7px 19px;
    border-radius: 10px;
    background-color: #0860b3;
    font-size: 18px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    width :100px;
    height :40px;
}

  
.swal-modal {
    background-color: white;
    border-radius:20px;
    border: 3px solid grey;
}

.swal-overlay {
    background-color: rgba(0, 157, 255, 0.21);
}

.swal-text {
    background-color: #80c3ed;
    padding: 17px;
    border: 1px solid #2b2b2b;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
    font-size:22px;
}
.swal-footer {
  text-align:center;
  padding-top: 13px;
  margin-top: 13px;
  padding: 13px 16px;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fondo{
    top: 150%;
    background:url(/storage/app/public/landing-page.png);
    width: auto ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
/* w */
#sidebar {
    position:absolute;
    top:0px;
    left:-475px;
    width:475px;
    height:auto;
    transition:all 500ms linear;
    
  }
  #sidebar.active {
    left:0px;
  }
  #sidebar .toggle-btn {
    position:absolute;
    left:425px;
    top:140px;
    padding-left:42px;
  }
  #sidebar .toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:#00A2BA;
    margin:5px 0px;
    cursor:pointer;
  }
  #sidebar div.list div.item {
    padding:15px 10px;
    border-bottom:1px solid #444;
    color:#fcfcfc;
    text-transform:uppercase;
  }
  #scroll-siderbar{
    
    overflow-y:scroll; 
    height:100vh;
  }

.s a{
    display: inline-block;
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color:#00ffff;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
  }
  
  .s a::before, .s a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
  }
  
  .s a:hover{
    transform: scale(.8);
  }
  
  .s a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
  }
  
  .s a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
  }

  cite a:hover{
    text-decoration: underline;
    color:white;
  }
#unhidetweet{
  text-decoration: underline;
  
}
#unhidetweet :hover{
  background-color: rgba(3, 169, 244, 0.7) ;
  color:blue;
}

/* mediaquery@ */
@media(max-width: 764px){
  #sidebar {
    position:absolute;
    top:0px;
    left:-265px;
    width:265px;
    height:auto;
    transition:all 500ms linear;
    
  }
  #sidebar .toggle-btn {
    position:fixed;
    left:260px;
    top:140px;
    padding-left:2px;
    margin-bottom:50px;
  }
  .s a{
    display: inline-block;
    font-size: 30px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color:#00ffff;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
  }
  .profile{
    position:fixed;
    bottom: 81px;
    right: 10px;
  }
  .floating{
    position: fixed;
    bottom: 81px;
    right:10px
}
.posttreturn {
  position: fixed;
  bottom: 50px;
  right:2px
}
}

@media(max-width: 344px){
  #sidebar {
    position:absolute;
    top:0px;
    left:-230px;
    width:230px;
    height:auto;
    transition:all 500ms linear;
    
  }
  #sidebar .toggle-btn {
    position:fixed;
    left:200px;
    top:140px;
    padding-left:2px;
    margin-bottom:50px;
  }
  .s a{
    display: inline-block;
    font-size: 30px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color:#00ffff;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
  }
  .floating{
    position: fixed;
    bottom: 30px;
    right:10px
}
}
@media(max-width: 300px){
  .profile{
    position:fixed;
    bottom: 81px;
    right: 10px;
  }
}
  

   
 