@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* C */
.card{
    
    border-radius: 40px;
}

/* F */
.floating{
    position: fixed;
    bottom: 30px;
    right:55px;  
}
/* I */
